@using WBSSLStore.Domain
@using WBSSLStore.Web.Helpers.PagedList;
@model IPagedList<OrderDetail>
@{
    ViewBag.Title = "DateWise Report";
    string CurrentLangCode = "";
    using (WBSSLStore.Web.Util.WBSiteSettings setting = new WBSSLStore.Web.Util.WBSiteSettings(WBSSLStore.Web.Helpers.Caching.SiteCacher.CurrentSite))
    {

        CurrentLangCode = setting.CurrentCultureKey;
    }
}

@System.Web.Optimization.Scripts.Render("/bundales/wb/validationjs?v=" + ViewBag.version)
@System.Web.Optimization.Scripts.Render("/bundales/jquery-glob?v=" + ViewBag.version)
@System.Web.Optimization.Styles.Render("/bundales/jquery-ui-css?v=" + ViewBag.version)
@System.Web.Optimization.Scripts.Render("/bundales/jquery-ui?v=" + ViewBag.version)

@if (CurrentLangCode != "en")
{
    <script src="@Url.Content("~/content/Scripts/i18n/jquery.ui.datepicker-" + CurrentLangCode + ".js")" type="text/javascript"></script>
    <script src="@Url.Content("~/content/Scripts/jquery.glob.all.min.js")" type="text/javascript"></script>
}

<script type="text/javascript">

    $(function () {
        $.preferCulture('@(CurrentLangCode)');
    });
</script>
<script type="text/javascript" language="javascript">
    $(function () {
        var dates = $("#txtFromDate, #txtToDate").datepicker({
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 1,
            showOn: "both",
            buttonImage: "@WBSSLStore.Web.Util.WBSiteSettings.AdminImagePath/icon-date.gif",
            buttonImageOnly: true,
            onSelect: function (selectedDate) {
                var option = this.id == "txtFromDate" ? "minDate" : "maxDate",
					instance = $(this).data("datepicker"),
					date = $.datepicker.parseDate(
						instance.settings.dateFormat ||
						$.datepicker._defaults.dateFormat,
						selectedDate, instance.settings);
                dates.not(this).datepicker("option", option, date);
            }
        });
    });
</script>
<tr>
    <td align="left" valign="top">
        <table width="881" border="0" align="left" cellpadding="0" cellspacing="0">
            <tr>
                <td width="7" align="left" valign="top">
                    <img src="@WBSSLStore.Web.Util.WBSiteSettings.AdminImagePath/barleft.gif" alt="whitebrand" width="7" height="55">
                </td>
                <td width="866" align="left" valign="middle" class="hdbarbg">
                    <table width="840" border="0" align="center" cellpadding="1" cellspacing="1">
                        <tr>
                            <td width="407" align="left" valign="middle" class="head1">
                                @*Datewise Report*@ @WBSSLStore.Resources.GeneralMessage.Message.DatewiseReport_Header
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="9" align="right" valign="top">
                    <img src="@WBSSLStore.Web.Util.WBSiteSettings.AdminImagePath/barright.gif" alt="whitebrand" width="9" height="55">
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td align="left" valign="top" class="contbg">
        <table width="870" border="0" align="center" cellpadding="0" cellspacing="7">
            <tr>
                <td width="867" align="center" valign="top" class="bgclr">
                    <table width="840" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="854" align="left" valign="top">
                                <table width="840" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="854" height="20" align="left" valign="middle">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="top">
                                            @using (Html.BeginForm("datewise", "report", FormMethod.Post))
                                            {
                                                <table width="840" border="0" align="left" cellpadding="1" cellspacing="1">
                                                    <tr>
                                                        <td width="413" align="left" valign="middle">
                                                            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="1">
                                                                <tr>
                                                                    <td width="25%" align="center" valign="middle" class="bold">
                                                                        @*Order Start Date*@ @WBSSLStore.Resources.GeneralMessage.Message.StartDate_Caption:
                                                                    </td>
                                                                    <td width="30%" align="left" valign="middle">
                                                                        <input name="txtFromDate" type="text" class="inputboxmini" readonly="readonly" id="txtFromDate" value="@(ViewBag.StartDate ?? DateTimeWithZone.Now.AddYears(-1).ToShortDateString())" />
                                                                    </td>
                                                                    <td width="15%" align="left" valign="middle" class="bold">
                                                                        @*End Date*@ @WBSSLStore.Resources.GeneralMessage.Message.EndDate_Caption:
                                                                    </td>
                                                                    <td width="35%" align="left" valign="middle">
                                                                        <input name="txtToDate" type="text" class="inputboxmini" readonly="readonly" id="txtToDate" value="@(ViewBag.EndDate ?? DateTimeWithZone.Now.ToShortDateString())" />
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td width="420" align="left" valign="top">
                                                            <table width="94%" border="0" align="right" cellpadding="1" cellspacing="1">
                                                                <tr>
                                                                    <td width="21%" align="left" valign="middle" class="bold">
                                                                        @*OrderStatus*@ @WBSSLStore.Resources.GeneralMessage.Message.OrderStatus_Caption:
                                                                    </td>
                                                                    <td width="52%" align="left" valign="middle">
                                                                        @Html.DropDownList("ddlStatus", Enum.GetValues(typeof(WBSSLStore.Domain.OrderStatus)).Cast<WBSSLStore.Domain.OrderStatus>().Select(x => new SelectListItem { Text = ((int)x == 0 ?  WBSSLStore.Resources.GeneralMessage.Message.ddlStatus_Pending : ((int)x == 1 ? WBSSLStore.Resources.GeneralMessage.Message.ddlStatus_Active : ((int)x == 2 ? WBSSLStore.Resources.GeneralMessage.Message.ddlStatus_Rejected :  WBSSLStore.Resources.GeneralMessage.Message.ddlStatus_Refund))), Value = ((int)x).ToString(), Selected = (x.ToString() == ViewBag.Status && ViewBag.Status != null) }), "----" + @WBSSLStore.Resources.GeneralMessage.Message.ddlStatus_All + "----", new { @class = "listmenusmall" })
                                                                    </td>
                                                                    <td width="27%" align="left" valign="middle">
                                                                        <label>
                                                                            <input name="btnSubmit" type="submit" class="bluebtn" id="btnSubmit" value="@WBSSLStore.Resources.GeneralMessage.Message.Search_btn" />
                                                                        </label>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        @Html.Partial("_Reports", Model)
                        <tr>
                            <td height="8" align="left" valign="top">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
