@model WBSSLStore.Service.ViewModels.StaticPageViewModel
@{
    ViewBag.version = WBSSLStore.Web.Helpers.Caching.SiteCacher.ResourceVersion();
}
@section headerTags{
    @Html.Partial("_renderSEO", Model != null && Model.CMSPage != null ? Model.CMSPage : new WBSSLStore.Domain.CMSPage())
}
@section sitecss{

}
@section Jscripts{
    @*<script src="@Url.Content("~/content/scripts/jquery.validate.min.js")" language="javascript" type="text/javascript"></script>*@
    @System.Web.Optimization.Scripts.Render("/bundales/wb/jquery.validate?v=" + ViewBag.version)
    <script type="text/javascript" language="javascript">
        var email = "@WBSSLStore.Resources.ErrorMessage.Message.EmailRequired";
        $(document).ready(function () {
            $("#frmpassword").validate({
                rules: {
                    txtEmailAddress: "required"
                },
                messages: {
                    txtEmailAddress: email
                }
            });
        });
    </script>
}

@Html.Partial("_banner", new Tuple<string, string>("", "Forgot Password"))

@using (Html.BeginForm("forgotpassword", "staticpage", FormMethod.Post, new { id = "frmpassword" }))
{
    <div class="content">
        <div class="wrapper">
            <div class="column3">
                <div class="mobtopcol">
                    <div class="column3-2">
                        <div class="aboutwrap marzerotop">
                            <div class="aboutcontext">


                                <table width="600" border="0" cellpadding="0" cellspacing="0" class="">
                                    @if (!string.IsNullOrEmpty(Convert.ToString(ViewBag.Message)))
                                    {
                                        <tr>
                                            <td colspan="3" height="30">
                                                @Html.Raw(ViewBag.Message)
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td width="101" height="30" align="left" class="text">
                                            <strong>@*Email*@@WBSSLStore.Resources.GeneralMessage.Message.Email_Caption: <span class="redtext">*</span></strong>
                                        </td>
                                        <td width="14" align="right">
                                            &nbsp;
                                        </td>
                                        <td width="485" class="text">
                                            <input type="text" id="txtEmailAddress" name="txtEmailAddress" value="" size="30" class="genetxtbox" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" valign="top" class="text">
                                            &nbsp;
                                        </td>
                                        <td align="right">
                                            &nbsp;
                                        </td>
                                        <td class="text">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="30" align="right" class="text">
                                            &nbsp;
                                        </td>
                                        <td align="right">
                                            &nbsp;
                                        </td>
                                        <td class="text">
                                            <input type="submit" value="@WBSSLStore.Resources.GeneralMessage.Message.RequestPassword_btn" class="greenbtn" id="btnsubmit" name="btnsubmit" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                    @Html.Partial("_rightpanel", (Model != null && !string.IsNullOrEmpty(Model.CurrentUserName) ? Model.CurrentUserName : ""))
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
}
<!-- InstanceEndEditable -->
