<div class="column3-3999">
    <div class="box freetools">
        <h3>Free Tools</h3>
        <div class="toolslist">
            <ul>
                <li><a href="@Url.Action("csrgenerator", "freetools", new { area="" })"><i class="icon"><img alt="Certificate Decoder" src="/content/images/ico-csr-generate.png"></i>CSR Generator</a></li>
                <li><a href="@Url.Action("CheckCSR", "freetools", new { area = "" })"><i class="icon"><img alt="CSR Decoder" src="/content/images/ico-csrdecor.png"></i>CSR Decoder</a></li>
                <li><a href="@Url.Action("CertificateDecoder", "freetools", new { area = "" })"><i class="icon"><img alt="Certificate Decoder" src="/content/images/ico-certdecor.png"></i>Certificate Decoder</a></li>
                <li><a href="@Url.Action("CheckSSLCertificate", "freetools", new { area = "" })"><i class="icon"><img alt="Check SSL Certificate" src="/content/images/ico-checkssl.png"></i>Check SSL Certificate</a></li>
                <li><a href="@Url.Action("certkeymatcher", "freetools", new { area = "" })"><i class="icon"><img alt="Certificate Key Matcher" src="/content/images/ico-keymetcher.png"></i>Certificate Key Matcher</a></li>
                <li><a href="@Url.Action("sslconvertor", "freetools", new { area = "" })"><i class="icon"><img alt="SSL Converter" src="/content/images/ico-sslconvert.png"></i>SSL Converter</a></li>
                <li><a href="@Url.Action("whynopadlock", "freetools", new { area = "" })"><i class="icon"><img alt="Why No Pad Lock?" src="/content/images/ico-nopadlock.png"></i>Why No PadLock?</a></li>

                
            </ul>
        </div>
    </div>

   
</div>
