@model WBSSLStore.Service.ViewModels.ProductPricingModel
@{
    ViewBag.Title = "Edit";
    ViewBag.version = WBSSLStore.Web.Helpers.Caching.SiteCacher.ResourceVersion();
}
@*<script src="@Url.Content("~/content/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/content/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@
@System.Web.Optimization.Scripts.Render("/bundales/wb/validationjs?v=" + ViewBag.version)
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <tr>
        <td align="left" valign="top">
            <table width="881" border="0" align="left" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="7" align="left" valign="top">
                        <img src="/content/Admin/images/barleft.gif" alt="whitebrand" width="7" height="55">
                    </td>
                    <td width="866" align="left" valign="middle" class="hdbarbg">
                        <table width="840" border="0" align="center" cellpadding="1" cellspacing="1">
                            <tr>
                                <td width="407" align="left" valign="middle" class="head1">
                                   @WBSSLStore.Resources.GeneralMessage.Message.Edit_Contract_Price_of @Model.product.ProductName
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="9" align="right" valign="top">
                        <img src="/content/Admin/images/barright.gif" alt="whitebrand" width="9" height="55">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" class="contbg">
            <table width="870" border="0" align="center" cellpadding="0" cellspacing="7">
            
                <tr>
                    <td bgcolor="#d6d6d6" align="left" valign="top">
                        <table width="100%" align="center" cellpadding="3" cellspacing="1">
                            <tr>
                                <td width="51" height="30" align="center" valign="middle" bgcolor="#FFFFFF" class="bluefont">
                                    @*Months*@ @WBSSLStore.Resources.GeneralMessage.Message.Months_Caption
                                </td>
                                <td width="72" height="30" align="center" valign="middle" bgcolor="#FFFFFF" class="bluefont">
                                    @*Retail-Price*@ @WBSSLStore.Resources.GeneralMessage.Message.RetailPrice_Caption
                                </td>
                                <td width="86" height="30" align="center" valign="middle" bgcolor="#FFFFFF" class="bluefont">
                                    @*Sale-Price*@ @WBSSLStore.Resources.GeneralMessage.Message.SalePrice_Caption
                                </td>
                            
                                <td width="118" height="30" align="center" valign="middle" bgcolor="#FFFFFF" class="bluefont">
                                    @*Additional Domain*@ @WBSSLStore.Resources.GeneralMessage.Message.AdditionalDomains_Caption
                                </td>
                                <td width="86" height="30" align="center" valign="middle" bgcolor="#FFFFFF" class="bluefont">
                                    @*Recommended*@ @WBSSLStore.Resources.GeneralMessage.Message.Recommended_Caption
                                </td>
                            </tr>
                            <tr>
                                <td width="51" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    @Html.HiddenFor(model => model.Month_12.ID)
                                    @Html.HiddenFor(model => model.Month_12.isRecommended)
                                    @Html.HiddenFor(model => model.Month_12.RecordStatusID)
                                    @Html.HiddenFor(model => model.Month_12.ContractID)
                                    @Html.HiddenFor(model => model.Month_12.SiteID)
                                    @Html.HiddenFor(model => model.Month_12.ProductID)
                                    @Html.TextBoxFor(model => model.Month_12.NumberOfMonths, new { @class = "inputboxmini", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.Month_12.NumberOfMonths)
                                </td>
                                <td width="72" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    @Html.TextBoxFor(model => model.Month_12.RetailPrice, new { @class = "inputboxmini alignright" })
                                    @Html.ValidationMessageFor(model => model.Month_12.RetailPrice)
                                </td>
                                <td width="86" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    @Html.TextBoxFor(model => model.Month_12.SalesPrice, new { @class = "inputboxmini alignright" })
                                    @Html.ValidationMessageFor(model => model.Month_12.SalesPrice)
                                </td>
                          
                                <td width="118" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    @Html.TextBoxFor(model => model.Month_12.AdditionalSanPrice, new { @class = "inputboxmini alignright" })
                                    @Html.ValidationMessageFor(model => model.Month_12.AdditionalSanPrice)
                                </td>
                                <td width="86" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    <input  type="radio" value="@Model.Month_12.NumberOfMonths" name="isRecommended" @(Model.Month_12.isRecommended ? "checked=\"checked\"" : string.Empty) />
                                </td>
                            </tr>
                            <tr>
                                @Html.HiddenFor(model => model.Month_24.ID)
                                @Html.HiddenFor(model => model.Month_24.isRecommended)
                                @Html.HiddenFor(model => model.Month_24.RecordStatusID)
                                @Html.HiddenFor(model => model.Month_24.ContractID)
                                @Html.HiddenFor(model => model.Month_24.SiteID)
                                @Html.HiddenFor(model => model.Month_24.ProductID)
                                <td width="51" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    @Html.TextBoxFor(model => model.Month_24.NumberOfMonths, new { @class = "inputboxmini", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.Month_24.NumberOfMonths)
                                </td>
                                <td width="72" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    @Html.TextBoxFor(model => model.Month_24.RetailPrice, new { @class = "inputboxmini alignright" })
                                    @Html.ValidationMessageFor(model => model.Month_24.RetailPrice)
                                </td>
                                <td width="86" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    @Html.TextBoxFor(model => model.Month_24.SalesPrice, new { @class = "inputboxmini alignright" })
                                    @Html.ValidationMessageFor(model => model.Month_24.SalesPrice)
                                </td>
                          
                                <td width="64" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    @Html.TextBoxFor(model => model.Month_24.AdditionalSanPrice, new { @class = "inputboxmini alignright" })
                                    @Html.ValidationMessageFor(model => model.Month_24.AdditionalSanPrice)
                                </td>
                                <td width="64" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    <input  type="radio" value="@Model.Month_24.NumberOfMonths" name="isRecommended" @(Model.Month_24.isRecommended ? "checked=\"checked\"" : string.Empty) />
                                </td>
                            </tr>
                            <tr>
                                @Html.HiddenFor(model => model.Month_36.ID)
                                @Html.HiddenFor(model => model.Month_36.isRecommended)
                                @Html.HiddenFor(model => model.Month_36.RecordStatusID)
                                @Html.HiddenFor(model => model.Month_36.ContractID)
                                @Html.HiddenFor(model => model.Month_36.SiteID)
                                @Html.HiddenFor(model => model.Month_36.ProductID)
                                <td width="51" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    @Html.TextBoxFor(model => model.Month_36.NumberOfMonths, new { @class = "inputboxmini", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.Month_36.NumberOfMonths)
                                </td>
                                <td width="72" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    @Html.TextBoxFor(model => model.Month_36.RetailPrice, new { @class = "inputboxmini alignright" })
                                    @Html.ValidationMessageFor(model => model.Month_36.RetailPrice)
                                </td>
                                <td width="86" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    @Html.TextBoxFor(model => model.Month_36.SalesPrice, new { @class = "inputboxmini alignright" })
                                    @Html.ValidationMessageFor(model => model.Month_36.SalesPrice)
                                </td>
                             
                                <td width="64" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    @Html.TextBoxFor(model => model.Month_36.AdditionalSanPrice, new { @class = "inputboxmini alignright" })
                                    @Html.ValidationMessageFor(model => model.Month_36.AdditionalSanPrice)
                                </td>
                                <td width="64" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    <input  type="radio" value="@Model.Month_36.NumberOfMonths" name="isRecommended" @(Model.Month_36.isRecommended ? "checked=\"checked\"" : string.Empty) />
                                </td>
                            </tr>
                            <tr>
                                @Html.HiddenFor(model => model.Month_48.ID)
                                @Html.HiddenFor(model => model.Month_48.isRecommended)
                                @Html.HiddenFor(model => model.Month_48.RecordStatusID)
                                @Html.HiddenFor(model => model.Month_48.ContractID)
                                @Html.HiddenFor(model => model.Month_48.SiteID)
                                @Html.HiddenFor(model => model.Month_48.ProductID)
                                <td width="51" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    @Html.TextBoxFor(model => model.Month_48.NumberOfMonths, new { @class = "inputboxmini", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.Month_48.NumberOfMonths)
                                </td>
                                <td width="72" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    @Html.TextBoxFor(model => model.Month_48.RetailPrice, new { @class = "inputboxmini alignright" })
                                    @Html.ValidationMessageFor(model => model.Month_48.RetailPrice)
                                </td>
                                <td width="86" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    @Html.TextBoxFor(model => model.Month_48.SalesPrice, new { @class = "inputboxmini alignright" })
                                    @Html.ValidationMessageFor(model => model.Month_48.SalesPrice)
                                </td>
                         
                                <td width="64" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    @Html.TextBoxFor(model => model.Month_48.AdditionalSanPrice, new { @class = "inputboxmini alignright" })
                                    @Html.ValidationMessageFor(model => model.Month_48.AdditionalSanPrice)
                                </td>
                                <td width="64" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    <input  type="radio" value="@Model.Month_48.NumberOfMonths" name="isRecommended" @(Model.Month_48.isRecommended ? "checked=\"checked\"" : string.Empty) />
                                </td>
                            </tr>
                            <tr>
                                @Html.HiddenFor(model => model.Month_60.ID)
                                @Html.HiddenFor(model => model.Month_60.isRecommended)
                                @Html.HiddenFor(model => model.Month_60.RecordStatusID)
                                @Html.HiddenFor(model => model.Month_60.ContractID)
                                @Html.HiddenFor(model => model.Month_60.SiteID)
                                @Html.HiddenFor(model => model.Month_60.ProductID)
                                <td width="51" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    @Html.TextBoxFor(model => model.Month_60.NumberOfMonths, new { @class = "inputboxmini", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.Month_60.NumberOfMonths)
                                </td>
                                <td width="72" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    @Html.TextBoxFor(model => model.Month_60.RetailPrice, new { @class = "inputboxmini alignright" })
                                    @Html.ValidationMessageFor(model => model.Month_60.RetailPrice)
                                </td>
                                <td width="86" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    @Html.TextBoxFor(model => model.Month_60.SalesPrice, new { @class = "inputboxmini alignright" })
                                    @Html.ValidationMessageFor(model => model.Month_60.SalesPrice)
                                </td>
                             
                                <td width="64" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    @Html.TextBoxFor(model => model.Month_60.AdditionalSanPrice, new { @class = "inputboxmini alignright" })
                                    @Html.ValidationMessageFor(model => model.Month_60.AdditionalSanPrice)
                                </td>
                                <td width="64" height="24" align="center" valign="middle" bgcolor="#FFFFFF">
                                    <input  type="radio" value="@Model.Month_60.NumberOfMonths" name="isRecommended" @(Model.Month_60.isRecommended ? "checked=\"checked\"" : string.Empty) />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <input name="button2" type="submit" class="bluebtn" id="button2" value="@WBSSLStore.Resources.GeneralMessage.Message.SAVE_btn">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
}
