@using WBSSLStore.Domain
@model User
@{
    ViewBag.Title = "Edit";
    ViewBag.version = WBSSLStore.Web.Helpers.Caching.SiteCacher.ResourceVersion();    
}
@*<script src="@Url.Content("~/content/Admin/js/common.min.js")" language="javascript" type="text/javascript" ></script>
<script src="@Url.Content("~/content/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/content/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@

@System.Web.Optimization.Scripts.Render("/bundales/wb/validationjs?v=" + ViewBag.version)
@System.Web.Optimization.Scripts.Render("/bundales/admincommonjs?v=" + ViewBag.version)
<script type="text/javascript" language="javascript">
    var objmsg = "@WBSSLStore.Resources.ErrorMessage.Message.ValidPassword_Caption";
    var objEmailExist = '@WBSSLStore.Resources.GeneralMessage.Message.Email_Exist_Caption';                    
</script>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.SiteID)
    @Html.HiddenFor(model => model.Address.ID)
    @Html.HiddenFor(model => model.UserTypeID)
    @Html.HiddenFor(model => model.AuditID)
    @Html.HiddenFor(model => model.AddressID)
    @Html.HiddenFor(model => model.AuditDetails.ID)
    @Html.HiddenFor(model => model.AuditDetails.DateCreated)        
        
    @Html.ValidationSummary(true)
    <tr>
        <td align="left" valign="top">
            <table width="881" border="0" align="left" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="7" align="left" valign="top">
                        <img src="@WBSSLStore.Web.Util.WBSiteSettings.AdminImagePath/barleft.gif" alt="whitebrand" width="7" height="55">
                    </td>
                    <td width="866" align="left" valign="middle" class="hdbarbg">
                        <table width="840" border="0" align="center" cellpadding="1" cellspacing="1">
                            <tr>
                                <td width="407" align="left" valign="middle" class="head1">
                                    @if (Model != null && Model.ID > 0)
                                    {
                                        <span>@*Edit*@ @WBSSLStore.Resources.GeneralMessage.Message.Edit_Caption @Html.DisplayFor(mode => mode.UserType)</span>
                                    }
                                    else
                                    {
                                        <span>@*Add Customer*@ @WBSSLStore.Resources.GeneralMessage.Message.AddCustomer_Caption</span>
                                    }
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="9" align="right" valign="top">
                        <img src="@WBSSLStore.Web.Util.WBSiteSettings.AdminImagePath/barright.gif" alt="whitebrand" width="9" height="55">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" class="contbg">
            <table width="870" border="0" align="center" cellpadding="0" cellspacing="7">
                @if (!string.IsNullOrEmpty(@ViewBag.ErrMsg))
                {
                <tr>
                    <td class="errormsg">
                      @WBSSLStore.Resources.GeneralMessage.Message.SmtpConfigureMSG_AdminMaster <a href="@Url.Action("smtpsettings", "sitesettings")">
             @WBSSLStore.Resources.GeneralMessage.Message.Click_Here</a> @WBSSLStore.Resources.GeneralMessage.Message.To_Configure
                    </td>
                </tr>
                }
                <tr>
                    <td width="867" align="center" valign="top" class="bgclr">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="left" valign="top">
                                    <table width="820" border="0" align="center" cellpadding="0" cellspacing="0">
                                        @if (ViewBag.IsUserExist != null && Convert.ToBoolean(ViewBag.IsUserExist))
                                        {
                                            <tr>
                                                <td align="left" valign="middle">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="middle" class="errormsg">
                                                   @WBSSLStore.Resources.GeneralMessage.Message.Email_Exist_Caption.
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td align="left" valign="top">
                                                <table width="80%" border="0" align="center" cellpadding="1" cellspacing="2">
                                                    <tr>
                                                        <td width="31%" align="right" valign="middle" class="bold">
                                                            @Html.LabelFor(model => model.CompanyName): <span class="redfont">*</span>
                                                        </td>
                                                        <td width="69%" align="left" valign="middle">
                                                            <label>
                                                                @Html.TextBoxFor(model => model.CompanyName, new { @class = "inputbox", ID = "txtCompanyName" })
                                                                @Html.ValidationMessageFor(model => model.CompanyName)
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            @Html.LabelFor(model => model.FirstName):<span class="redfont"> *</span>
                                                        </td>
                                                        <td align="left" valign="middle">
                                                            <label>
                                                                @Html.TextBoxFor(model => model.FirstName, new { @class = "inputbox", ID = "txtFirstName" })
                                                                @Html.ValidationMessageFor(model => model.FirstName)
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            @Html.LabelFor(model => model.LastName): <span class="redfont">*</span>
                                                        </td>
                                                        <td align="left" valign="top">
                                                            <label>
                                                                @Html.TextBoxFor(model => model.LastName, new { @class = "inputbox", ID = "txtLastName" })
                                                                @Html.ValidationMessageFor(model => model.LastName)
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            @Html.LabelFor(model => model.Email):<span class="redfont"> *</span>
                                                        </td>
                                                        <td align="left" valign="top">
                                                            @Html.TextBoxFor(model => model.Email, new { @class = "inputbox", ID = "txtEmail", @dataid = (Model == null ? 0 : Model.ID) })
                                                            <span id="pLoaderImg" class="redfont"></span>
                                                            @Html.ValidationMessageFor(model => model.Email)
                                                        </td>
                                                    </tr>
                                                    @if (Model == null || Model.ID == 0)
                                                    {
                                                        <tr>
                                                            <td align="right" valign="middle" class="bold">
                                                                @Html.LabelFor(model => model.PasswordHash):<span class="redfont"> *</span>
                                                            </td>
                                                            <td align="left" valign="top">
                                                                @Html.PasswordFor(model => model.PasswordHash, new { @class = "inputbox", ID = "txtPassword", @onblur = "ValidatePassword(this,'btnSubmit','spMsg');" })
                                                                @Html.ValidationMessageFor(model => model.PasswordHash)
                                                                <span id="spMsg" class="redfont"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right" valign="middle" class="bold">
                                                                @Html.LabelFor(model => model.ConfirmPassword):<span class="redfont"> *</span>
                                                            </td>
                                                            <td align="left" valign="top">
                                                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "inputbox", ID = "txtConfirmPassword" })
                                                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                                            </td>
                                                        </tr>
                                                    }
                                                    else
                                                    { 
                                                        <tr>
                                                            <td align="right" valign="middle" class="bold" colspan="2">
                                                                @Html.HiddenFor(model => model.PasswordHash)
                                                                @Html.HiddenFor(model => model.ConfirmPassword)
                                                            </td>
                                                        </tr>
                                                    }
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            @Html.LabelFor(model => model.AlternativeEmail):
                                                        </td>
                                                        <td align="left" valign="top">
                                                            <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td width="68%" align="left" valign="middle">
                                                                        @Html.TextBoxFor(model => model.AlternativeEmail, new { @class = "inputbox", ID = "txtAlternativeEmail" })
                                                                    </td>
                                                                    <td width="32%" align="left" valign="middle">
                                                                        @WBSSLStore.Resources.GeneralMessage.Message.Optional_caption
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            @Html.LabelFor(model => model.Address.Street):<span class="redfont"> *</span>
                                                        </td>
                                                        <td align="left" valign="top">
                                                            @Html.TextBoxFor(model => model.Address.Street, new { @class = "inputbox", ID = "txtAddress1" })
                                                            @Html.ValidationMessageFor(model => model.Address.Street)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            @Html.LabelFor(model => model.Address.Country.CountryName):<span class="redfont"> *</span>
                                                        </td>
                                                        <td align="left" valign="top">
                                                            @Html.DropDownListFor(model => model.Address.CountryID, new SelectList(ViewBag.Country as System.Collections.IEnumerable, "ID", "CountryName"), "--------" + @WBSSLStore.Resources.GeneralMessage.Message.Select_Country + "--------", new { @class = "listmenu", ID = "ddlCountry" })
                                                            @Html.ValidationMessageFor(model => model.Address.CountryID)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            @Html.LabelFor(model => model.Address.State): <span class="redfont">*</span>
                                                        </td>
                                                        <td align="left" valign="top">
                                                            @Html.EditorFor(model => model.Address.State)
                                                            @Html.ValidationMessageFor(model => model.Address.State)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            @Html.LabelFor(model => model.Address.City):<span class="redfont"> *</span>
                                                        </td>
                                                        <td align="left" valign="top">
                                                            @Html.TextBoxFor(model => model.Address.City, new { @class = "inputbox", ID = "txtCity" })
                                                            @Html.ValidationMessageFor(model => model.Address.City)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            @Html.LabelFor(model => model.Address.Zip): <span class="redfont">*</span>
                                                        </td>
                                                        <td align="left" valign="top">
                                                            @Html.TextBoxFor(model => model.Address.Zip, new { @class = "inputbox", ID = "txtZip", @maxlength = "30" })
                                                            @Html.ValidationMessageFor(model => model.Address.Zip)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            @Html.LabelFor(model => model.Address.Phone):<span class="redfont"> *</span>
                                                        </td>
                                                        <td align="left" valign="top">
                                                            @Html.TextBoxFor(model => model.Address.Phone, new { @class = "inputbox", ID = "txtPhone", @maxlength = "20" })
                                                            @Html.ValidationMessageFor(model => model.Address.Phone)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            @Html.LabelFor(model => model.Address.Fax):
                                                        </td>
                                                        <td align="left" valign="top">
                                                            @Html.TextBoxFor(model => model.Address.Fax, new { @class = "inputbox", ID = "txtFax" })
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            @Html.LabelFor(model => model.Address.Mobile):
                                                        </td>
                                                        <td align="left" valign="top">
                                                            @Html.TextBoxFor(model => model.Address.Mobile, new { @class = "inputbox", ID = "txtMobile", @maxlength = "30" })
                                                        </td>
                                                    </tr>
                                                    @if (Model != null && Model.ID > 0)
                                                    {
                                                        <tr>
                                                            <td height="24" align="right" valign="middle" class="bold">
                                                                @Html.LabelFor(model => model.AuditDetails.DateCreated):
                                                            </td>
                                                            <td align="left" valign="middle" class="bold">
                                                                @Html.DisplayFor(model => model.AuditDetails.DateCreated)
                                                                @Html.HiddenFor(model => model.AuditDetails.DateCreated)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="24" align="right" valign="middle" class="bold">
                                                                @WBSSLStore.Resources.GeneralMessage.Message.Total_purchase_Caption:
                                                            </td>
                                                            <td align="left" valign="middle" class="bold">
                                                                @ViewBag.TotalPurchase
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="24" align="right" valign="middle" class="bold">
                                                                 @WBSSLStore.Resources.GeneralMessage.Message.Number_of_Certs:
                                                            </td>
                                                            <td align="left" valign="middle" class="bold">
                                                                @ViewBag.TotalCertificates
                                                            </td>
                                                        </tr>
                                                    }
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            @Html.LabelFor(model => model.RecordStatusID):
                                                        </td>
                                                        <td align="left" valign="top">
                                                            @Html.DropDownListFor(model => model.RecordStatusID, Enum.GetValues(typeof(RecordStatus)).Cast<RecordStatus>().Select(x => new SelectListItem { Text = ((int)x == 0 ? WBSSLStore.Resources.GeneralMessage.Message.ddlStatus_InActive : WBSSLStore.Resources.GeneralMessage.Message.ddlStatus_Active), Value = ((int)x).ToString() }).Where(x => Convert.ToInt32(x.Value) != (int)RecordStatus.DELETED), new { @class = "listmenusmall" })
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            @Html.LabelFor(model => model.HeardBy):
                                                        </td>
                                                        <td align="left" valign="top">
                                                            @Html.TextBoxFor(model => model.HeardBy, new { @class = "inputbox", ID = "txtHeardBy" })
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            &nbsp;
                                                        </td>
                                                        <td align="left" valign="top">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <img src="@WBSSLStore.Web.Util.WBSiteSettings.AdminImagePath/grydivider.gif" alt="" width="840" height="6">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td height="8" align="left" valign="top">
                                                        </td>
                                                    </tr>
                                                    @if (Model != null && Model.ID > 0)
                                                    {
                                                        <tr>
                                                            <td align="left" valign="top">
                                                                <table width="650" border="0" align="center" cellpadding="0" cellspacing="3">
                                                                    <tr>
                                                                        <td width="183" align="center" valign="middle">
                                                                            <label>
                                                                                <input name="button" type="button" class="bluebtnlite" id="button" value="@WBSSLStore.Resources.GeneralMessage.Message.Acc_summary_btn"
                                                                                onclick="location.href='@Url.Action("Statement", "account", new { id = Model.ID })'" />
                                                                            </label>
                                                                        </td>
                                                                        <td width="163" align="center" valign="middle">
                                                                            <label>
                                                                                <input name="button3" type="button" class="bluebtnlite" id="button3" value="@WBSSLStore.Resources.GeneralMessage.Message.Manage_Order_btn"
                                                                                onclick="location.href='@Url.Action("index", "orders", new { id = Model.ID })'" />
                                                                            </label>
                                                                        </td>
                                                                        <td width="131" align="center" valign="middle">
                                                                            <input name="button6" type="button" class="bluebtnlite" id="button6" value="@WBSSLStore.Resources.GeneralMessage.Message.AddFund_btn"
                                                                            onclick="location.href='@Url.Action("addfund", "account", new { id = Model.ID })'" />
                                                                        </td>
                                                                        <td width="180" align="center" valign="middle">
                                                                            @*<input name="button7" type="button" class="bluebtnlite" id="button7" value="Reminder Settings"
                                                                            onclick="location.href='reminder-settings.htm'" />*@ &nbsp;
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    }
                                                    <tr>
                                                        <td align="left" valign="top">
                                                            <table width="80%" border="0" align="center" cellpadding="1" cellspacing="2">
                                                                <tr>
                                                                    <td height="8" align="right" valign="middle" class="bold">
                                                                    </td>
                                                                    <td height="8" align="left" valign="top">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="31%" align="right" valign="middle" class="bold">
                                                                        &nbsp;
                                                                    </td>
                                                                    <td width="69%" align="left" valign="top">
                                                                        <label>
                                                                            <input name="btnSubmit" type="submit" class="bluebtn" id="btnSubmit" value="@WBSSLStore.Resources.GeneralMessage.Message.SAVE_btn" />
                                                                        </label>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="8" align="left" valign="top">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
}