@*@using WBSSLStore.Web.Helpers.PopupForm*@
@model WBSSLStore.Service.ViewModels.CheckOutViewModel
@{
    ViewBag.version = WBSSLStore.Web.Helpers.Caching.SiteCacher.ResourceVersion();
    WBSSLStore.Web.Util.WBSiteSettings setting = new WBSSLStore.Web.Util.WBSiteSettings(WBSSLStore.Web.Helpers.Caching.SiteCacher.CurrentSite);
    ViewBag.Title = "Payment";
    List<WBSSLStore.Domain.ShoppingCartDetail> lstShoppingCart = ViewBag.CartDetails as List<WBSSLStore.Domain.ShoppingCartDetail>;
    int iCount = 1;
    //string strEditCart = "<img width='20' height='21'  alt='edit' src='" + @Url.Content("~/Areas/Checkout/content/images/ico-edit.png") + "'  />";
}

@section sitecss{
    @System.Web.Optimization.Styles.Render("/bundales/tabcss?v=" + ViewBag.version)
    @System.Web.Optimization.Styles.Render("/bundales/jquery-ui-css?v=" + ViewBag.version)

}
@section Jscripts{
    @System.Web.Optimization.Scripts.Render("/bundales/checkoutjs?v=" + ViewBag.version)

    @if (setting.CurrentCultureKey != "en-US")
    {
        System.Web.Optimization.Scripts.Render("/bundales/jquery-glob-all?v=" + ViewBag.version);
    }
    <script type="text/javascript">
        $.preferCulture("@setting.CurrentCultureKey");
        var CentarlUrlPath = '';
        var ISCC = '@(Model.paymentmode == WBSSLStore.Domain.PaymentMode.CC || Model.ISCC)';
        var IsPayPal = '@(Model.paymentmode == WBSSLStore.Domain.PaymentMode.PAYPAL || Model.IsPayPal)';
        var IsMoneybookers = '@(Model.paymentmode == WBSSLStore.Domain.PaymentMode.MONEYBOOKERS || Model.IsMoneybookers)';
        var PayableAmount = parseFloat('@(Convert.ToString(Model.PayableAmount, System.Globalization.CultureInfo.InvariantCulture.NumberFormat))');
        var PromoDiscount = parseFloat('@(Convert.ToString(Model.PromoDiscount, System.Globalization.CultureInfo.InvariantCulture.NumberFormat))');
        var OrderAmount = parseFloat('@(Convert.ToString(Model.OrderAmount, System.Globalization.CultureInfo.InvariantCulture.NumberFormat))');
        var AvailableCredit = parseFloat('@(Convert.ToString(Model.AvailableCredit, System.Globalization.CultureInfo.InvariantCulture.NumberFormat))');
        var CCName = "@WBSSLStore.Resources.ErrorMessage.Message.CCNameRequired";
        var Month = "@WBSSLStore.Resources.ErrorMessage.Message.SelectMonth";
        var Year = "@WBSSLStore.Resources.ErrorMessage.Message.SelectYear";
        var CVV = "@WBSSLStore.Resources.ErrorMessage.Message.CVVnumber";
        var defaultVATCountryID = '@setting.VatCountry';
        var defaultVATCCode = '@ViewBag.VATCountryCode';
        var vatpercent = '@setting.VATTax';
        var isvatapplicable = '@setting.IsVatApplicable';
    </script>

    @System.Web.Optimization.Scripts.Render("/bundales/jquery-ui-1.10.custom")
    <script type="text/javascript">
        $(function () {
            if ($.find(".autoComplete").length > 0) {
                $(".autoComplete").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "/Home/AutoCompleteResult",
                            data: { searchText: request.term },
                            dataType: "json",
                            success: function (data) {
                                response(data);
                            }
                        });
                    },
                    minLength: 2
                });
            }
        });
    </script>


    @{
        setting = null;
    }
}
@Html.Partial("_banner", new Tuple<string, string>("", WBSSLStore.Resources.GeneralMessage.Message.CheckOut_Header_Caption))
<div id="dvpayment" class="backgroundPopup" style="position: fixed; display: none; opacity: 0.7;">
    <img src='/areas/checkout/content/images/loadingnew.gif' style="margin-top: 25%;
            margin-left: 50%;" />
</div>
<div class="content">
    <div class="wrapper">
        <div class="column3">
            <div class="mobtopcol">
                <div class="column3-2a">
                    @using (Html.BeginForm("pay", "payment", FormMethod.Post, new { @id = "frmpayment" }))
                    {
                        <div class="aboutwrap" id="tblPlaceOrder">
                            <div class="cartwarp">
                                <div id="tblPlaceOrder1">
                                    @Html.HiddenFor(x => x.ShoppingCartID)
                                    @Html.HiddenFor(x => x.user.ID)
                                    @Html.HiddenFor(x => x.user.AddressID)
                                    @Html.HiddenFor(x => x.SiteID)
                                    @Html.HiddenFor(x => x.user.SiteID)
                                    @Html.HiddenFor(x => x.PayableAmount)
                                    @Html.HiddenFor(x => x.AvailableCredit)
                                    @Html.HiddenFor(x => x.OrderAmount)
                                    @Html.HiddenFor(x => x.PromoDiscount)
                                    @Html.HiddenFor(x => x.Tax)
                                    @Html.HiddenFor(x => x.ISVatApplicable)
                                    @Html.HiddenFor(x => x.VatCountry)
                                    @Html.HiddenFor(x => x.VatPercent)
                                    @Html.HiddenFor(x => x.IsPayPal)
                                    @Html.HiddenFor(x => x.IsMoneybookers)
                                    @Html.HiddenFor(x => x.ISCC)
                                    @if (!string.IsNullOrEmpty(ViewBag.Errormsg))
                                    {
                                        <div class="errormsg">
                                            @ViewBag.Errormsg
                                        </div>
                                    }
                                    @*Start Billing Info*@
                                    <div class="">
                                        <h2>@WBSSLStore.Resources.GeneralMessage.Message.Checkout_BillInfo_Caption</h2>
                                        <div class="billdtl">
                                            <div class="billform">
                                                <p>Personal</p>
                                                <div class="billformraw">
                                                    @*@WBSSLStore.Resources.GeneralMessage.Message.FullName_Caption<span class="redtext">*</span>*@
                                                    <div class="billformcol">
                                                        @Html.TextBoxFor(x => x.user.FirstName, new { @class = "required txtinput", @title = @WBSSLStore.Resources.ErrorMessage.Message.FirstNameRequired, @placeholder = "FirstName" })

                                                    </div>
                                                    <div class="billformcol">
                                                        @Html.TextBoxFor(x => x.user.LastName, new { @class = "required txtinput", @title = @WBSSLStore.Resources.ErrorMessage.Message.LastNameRequired, @placeholder = "LastName" })
                                                    </div>
                                                </div>
                                                <div class="billformraw">
                                                    <div class="billformcol">
                                                        @Html.TextBoxFor(x => x.user.CompanyName, new { @class = "required txtinput", @title = WBSSLStore.Resources.ErrorMessage.Message.CompanyNameRequired, @placeholder = "Organisation Name" })
                                                    </div>
                                                    <div class="billformcol">
                                                        @Html.TextBoxFor(x => x.user.Email, new { @class = "required email txtinput", @title = WBSSLStore.Resources.ErrorMessage.Message.EmailRequired, @size = 40, @readonly = "readonly", @placeholder = "Email" })
                                                    </div>
                                                </div>
                                                <p class="address">Address</p>
                                                <div class="billformraw">
                                                    <div class="billformcol">
                                                        @Html.TextBoxFor(x => x.user.Address.Street, new { @class = "required txtinput", @title = @WBSSLStore.Resources.ErrorMessage.Message.StreetRequired, @placeholder = "Street Address" })
                                                    </div>
                                                    <div class="billformcol">
                                                        @Html.TextBoxFor(x => x.user.Address.Phone, new { @class = "required txtinput", @title = @WBSSLStore.Resources.ErrorMessage.Message.PhoneRequired, @maxlength = "20", @placeholder = "Phone" })
                                                    </div>
                                                </div>
                                                <div class="billformraw">
                                                    <div class="billformcol">
                                                        @Html.DropDownListFor(x => x.user.Address.CountryID, new SelectList(ViewBag.Country as System.Collections.IEnumerable, "ID", "CountryName", Model.user.Address.CountryID), "----Select----", new { @class = "txtinput required autoComplete dropdownCO", @title = @WBSSLStore.Resources.ErrorMessage.Message.CountryNameRequired })

                                                    </div>
                                                    <div class="billformcol">

                                                        @Html.TextBoxFor(x => x.user.Address.State, new { @class = "autoComplete txtinput required", @title = "Please enter your state.", @placeholder = "State" })
                                                    </div>
                                                </div>
                                                <div class="billformraw">
                                                    <div class="billformcol">
                                                        @Html.TextBoxFor(x => x.user.Address.City, new { @class = "required txtinput", @title = @WBSSLStore.Resources.ErrorMessage.Message.CityRequired, @placeholder = "Town / City" })
                                                    </div>
                                                    <div class="billformcol">
                                                        @Html.TextBoxFor(x => x.user.Address.Zip, new { @class = "required txtinput", @title = @WBSSLStore.Resources.ErrorMessage.Message.ZipRequired, @maxlength = "30", @placeholder = "Postal Code" })
                                                    </div>
                                                </div>

                                                @if (Model.ISVatApplicable)
                                                {
                                                @*<strong>@WBSSLStore.Resources.GeneralMessage.Message.VAT</strong>*@
                                                <div class="billformraw">
                                                    <div class="billformcol">
                                                        @Html.TextBoxFor(x => x.VATNumber, new { @class = "txtinput", @placeholder = "VAT Number" })
                                                        <span id="pLoaderImg" class="redtext"></span>
                                                    </div>
                                                </div>
                                                }
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="clear">
                                        </div>
                                    </div>
                                    @*End Billing Info *@
                                    @*Start Payment Detail *@
                                    <div class="billdtl">
                                        <div class="billform">
                                            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" id="useCredit">
                                                <tr>
                                                    <td height="30" class="headingtext" width="100%" colspan="2">
                                                        <h3>@WBSSLStore.Resources.GeneralMessage.Message.Checkout_PayDetail_Caption</h3>
                                                    </td>

                                                </tr>
                                                @if (Model.AvailableCredit > 0)
                                                {
                                                <tr>
                                                    <td height="30" class="text" width="32%">
                                                        @WBSSLStore.Resources.GeneralMessage.Message.Checkout_AvailCredit_Caption :
                                                    </td>
                                                    <td class="text" id="strcredit">
                                                        @string.Format("{0:C}", Model.AvailableCredit)
                                                    </td>
                                                </tr>
                                                }
                                                <tr>
                                                    <td height="30" class="text" width="32%">
                                                        @WBSSLStore.Resources.GeneralMessage.Message.Checkout_OrderAmt_Caption :
                                                    </td>
                                                    <td class="text" id="strorderamount">
                                                        @string.Format("{0:C}", Model.OrderAmount)
                                                    </td>
                                                </tr>
                                                @if (Model.PromoDiscount > 0)
                                                {
                                                <tr>
                                                    <td height="30" class="text">
                                                        @WBSSLStore.Resources.GeneralMessage.Message.Invoice_Discount_Caption :
                                                    </td>
                                                    <td class="text" id="strdiscount">
                                                        @string.Format("{0:C}", Model.PromoDiscount)
                                                    </td>
                                                </tr>
                                                }
                                                <tr id="trvattaxamount" style="display: none;">
                                                    <td height="30" class="text">
                                                        @WBSSLStore.Resources.GeneralMessage.Message.Tax_Caption :
                                                    </td>
                                                    <td class="text" id="vattaxamount">
                                                        @string.Format("{0:C}", Model.Tax)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="30" class="text">
                                                        @WBSSLStore.Resources.GeneralMessage.Message.Checkout_PayableAmt_Caption :
                                                    </td>
                                                    <td class="text" id="payorderamount">
                                                        @string.Format("{0:C}", Model.PayableAmount)
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="clear">
                                        </div>
                                    </div>
                                    @*End Payment Detail*@
                                    @if (Model.PayableAmount > 0 && (Model.ISCC || Model.IsPayPal || Model.IsMoneybookers))
                                    {
                                        //Start Select payment gateway
                                        <div class="hrline" style='display:@((Model.IsPayPal && Model.ISCC) || (Model.IsPayPal && Model.IsMoneybookers) || (Model.ISCC && Model.IsMoneybookers) ? "" : "none")'>
                                            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="2">
                                                <tr>
                                                    <td height="30" class="headingtext" width="100%" colspan="2">
                                                        <h3>@WBSSLStore.Resources.GeneralMessage.Message.Checkout_SelectPayment_Header</h3>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td height="30" class="text" width="30%">
                                                        @WBSSLStore.Resources.GeneralMessage.Message.Checkout_SelectPayment_Header<span class="redtext">*</span>
                                                    </td>
                                                    <td class="text">
                                                        @if (Model.ISCC)
                                                        {
                                                        <label>
                                                            @Html.RadioButtonFor(x => x.paymentmode, WBSSLStore.Domain.PaymentMode.CC, new { @id = "rbcc" })
                                                            @WBSSLStore.Resources.GeneralMessage.Message.CreditCard_Caption
                                                        </label>

                                                        }
                                                        @if (Model.IsPayPal)
                                                        {
                                                        <label>
                                                            @Html.RadioButtonFor(x => x.paymentmode, WBSSLStore.Domain.PaymentMode.PAYPAL, new { @id = "rbpp" })
                                                            @WBSSLStore.Resources.GeneralMessage.Message.Paypal_Caption
                                                        </label>

                                                        }
                                                        @if (Model.IsMoneybookers)
                                                        {
                                                        <label>
                                                            @Html.RadioButtonFor(x => x.paymentmode, WBSSLStore.Domain.PaymentMode.MONEYBOOKERS, new { @id = "rbmb" })
                                                        </label>
                                                            if (Model.SiteID.Equals(10))
                                                            {
                                                        <span>Pay by credit card</span>
                                                            }
                                                            else
                                                            {
                                                        <span>@WBSSLStore.Resources.GeneralMessage.Message.Moneybookers_Caption</span>

                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                            </table>
                                            <div class="clear">
                                            </div>
                                        </div>
                                                        //End Select payment gateway
                                                        //Start Payment block
                                                        <div class="hrline">
                                                            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="2">
                                                                @if (Model.ISCC)
                                                                {
                                                                <tr id="CCcreditCARD">
                                                                    <td colspan="2">
                                                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                            <tr>
                                                                                <td height="30" class="headingtext" colspan="2">
                                                                                    <h3>@WBSSLStore.Resources.GeneralMessage.Message.Checkout_CreditCInfo_Header</h3>
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td height="30" class="text" width="30%"></td>
                                                                                <td class="text">
                                                                                    <img alt="PayPal" src="/content/images/payment-option.png" class="creditcardimg">
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td height="30" class="text" width="31%">
                                                                                    @WBSSLStore.Resources.GeneralMessage.Message.CardName_Caption
                                                                                    <span class="redtext">*</span>
                                                                                </td>
                                                                                <td class="text">
                                                                                    @Html.TextBoxFor(x => x.CCName, new { @class = "txtinputsmal in200px" })
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="30" class="text">
                                                                                    @WBSSLStore.Resources.GeneralMessage.Message.Checkout_CreditCard_Caption
                                                                                    <span class="redtext">*</span>
                                                                                </td>
                                                                                <td class="text">
                                                                                    @Html.TextBoxFor(x => x.CCNumber, new { @title = @WBSSLStore.Resources.GeneralMessage.Message.CC_No_Title_Caption, @maxlength = "16", @class = "txtinputsmal in200px" })
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="30" class="text">
                                                                                    @WBSSLStore.Resources.GeneralMessage.Message.Checkout_CardExpiry_Caption
                                                                                    <span class="redtext">*</span>
                                                                                </td>
                                                                                <td class="text">
                                                                                    @Html.DropDownListFor(x => x.Month, new SelectList(new[] { 01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12 }, Model.Month), @WBSSLStore.Resources.GeneralMessage.Message.Months_Caption, new { @class = "txtinputsmal in90px" })
                                                                                    @Html.DropDownListFor(x => x.Year, new SelectList(Enumerable.Range(DateTime.Now.Year, 10).Select(x => new SelectListItem { Text = x.ToString(), Value = x.ToString() }).ToList(), "Value", "Text"), @WBSSLStore.Resources.GeneralMessage.Message.Year_Caption, new { @class = "txtinputsmal in90px" })
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="30" class="text">
                                                                                    @WBSSLStore.Resources.GeneralMessage.Message.Checkout_CCVCode_Caption
                                                                                    <span class="redtext">*</span>
                                                                                </td>
                                                                                <td class="text">
                                                                                    @Html.PasswordFor(x => x.CVV, new { @size = 4, @class = "txtinputsmal in80px", @maxlength = 4 })
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                }
                                                                @if (Model.IsPayPal)
                                                                {
                                                                <tr id="ppPaypal">
                                                                    <td colspan="2">
                                                                        <table width="95%">
                                                                            @* <tr>
                                                                                    <td height="30" class="headingtext" colspan="2">
                                                                                        <h3>@WBSSLStore.Resources.GeneralMessage.Message.CheckOut_PaypalInfo_Header</h3>
                                                                                    </td>
                                                                                   <td class="text">
                                                                                        &nbsp;
                                                                                    </td>
                                                                                </tr>*@
                                                                            <tr>
                                                                                <td class="text" width="31%">
                                                                                    @*@WBSSLStore.Resources.GeneralMessage.Message.PaypalId_Caption :*@
                                                                                </td>
                                                                                <td class="text">
                                                                                    @*@Html.TextBoxFor(x => x.PayPalID, new { @title = @WBSSLStore.Resources.GeneralMessage.Message.PayPalID_Title_Caption, @class = "txtinputsmal in200px" })*@
                                                                                    <div class="tdpaypayllogo">
                                                                                        <img alt="PayPal" src="/content/images/paypal-icon.png">
                                                                                    </div>
                                                                                    <br />
                                                                                    @WBSSLStore.Resources.GeneralMessage.Message.payment_Paypal_msg
                                                                                    <br />
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                }
                                                                @if (Model.IsMoneybookers)
                                                                {
                                                                <tr id="ppMoneybookers">
                                                                    <td colspan="2">
                                                                        <table width="95%">
                                                                            @*<tr>
                                                                                    <td height="30" class="headingtext" colspan="2">
                                                                                        <h3>@WBSSLStore.Resources.GeneralMessage.Message.CheckOut_MoneybookersInfo_Header</h3>
                                                                                    </td>

                                                                                </tr>*@
                                                                            <tr>
                                                                                <td height="30" class="text" width="31%">
                                                                                    @*@WBSSLStore.Resources.GeneralMessage.Message.MoneybookersId_Caption :*@
                                                                                </td>
                                                                                <td class="text">
                                                                                    @*@Html.TextBoxFor(x => x.MoneybookersID, new { @title = @WBSSLStore.Resources.GeneralMessage.Message.MoneybookersID_Title_Caption, @class = "txtinputsmal in200px" })*@
                                                                                    <div class="tdMoneybokerlogo">
                                                                                    </div>
                                                                                    @WBSSLStore.Resources.GeneralMessage.Message.payment_Moneybookers_msg
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                }
                                                            </table>
                                                            <div class="clear">
                                                            </div>
                                                        </div>
                                        //end Payment block
                                    }
                                    <div class="hrline">
                                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="2">
                                            <tr>
                                                <td height="30" class="text" width="30%"></td>
                                                <td class="text" width="30%" style="padding-top:15px;">
                                                    @if (Model.ISCC || Model.IsPayPal || Model.IsMoneybookers)
                                                    {
                                                    <button type="button" name="button" id="btnplaceOrder" value="Confirm" class="greenbtn chekbtnleftmar">
                                                        <span>@WBSSLStore.Resources.GeneralMessage.Message.Checkout_PlaceOrder_Caption</span>
                                                    </button>

                                                    }
                                                </td>
                                                <td align="center">
                                                    <script language="JavaScript" type="text/javascript" src="https://smarticon.geotrust.com/si.js"></script>
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="clear">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div id="tblConfirm" class="controlpnldata" style="display: none">
                            <div class="">
                                <h3>@WBSSLStore.Resources.GeneralMessage.Message.Checkout_ConOrder_Caption</h3>
                                <p class="cmnpara orngtxt">@WBSSLStore.Resources.LongText.Message.CheckOut_Note</p>
                                <h3>@WBSSLStore.Resources.GeneralMessage.Message.BillingAddress_Caption</h3>
                                <p class="cmnpara" id="spBilling">
                                </p>
                                <h3>@WBSSLStore.Resources.GeneralMessage.Message.Checkout_PaymentInfo_Caption</h3>
                                <div class="paymentinfo listform">
                                    <div class="raw">
                                        <label>@WBSSLStore.Resources.GeneralMessage.Message.PaymentType_Caption:</label>
                                        <span id="tdpaymenttype"></span>
                                    </div>
                                    <div class="raw">
                                        <label>@WBSSLStore.Resources.GeneralMessage.Message.Checkout_OrderAmt_Caption:</label>
                                        <span id="tdorderamount"></span>
                                    </div>
                                    <div class="raw">
                                        <label>@WBSSLStore.Resources.GeneralMessage.Message.Checkout_CreditAmt_Caption:</label>
                                        <span id="tdcreditamount"></span>
                                    </div>
                                    @if (Model.PromoDiscount > 0)
                                    {
                                        <div class="raw">
                                            <label>@WBSSLStore.Resources.GeneralMessage.Message.Invoice_Discount_Caption:</label>
                                            <span id="tddiscount"></span>
                                        </div>
                                    }
                                    <div class="raw" id="trtax" style="display:none;">
                                        <label>@WBSSLStore.Resources.GeneralMessage.Message.Tax_Caption:</label>
                                        <span id="tdtax"></span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="paymentinfo listform" id="CCtbody">
                                    <div class="raw">
                                        <label>@WBSSLStore.Resources.GeneralMessage.Message.CardName_Caption:</label>
                                        <span id="tdccname"></span>
                                    </div>
                                    <div class="raw">
                                        <label>@WBSSLStore.Resources.GeneralMessage.Message.CreditCardNo_Caption:</label>
                                        <span id="tdccnumber"></span>
                                    </div>
                                    <div class="raw">
                                        <label>@WBSSLStore.Resources.GeneralMessage.Message.Checkout_CardExpiry_Caption:</label>
                                        <span id="tdccdate"></span>
                                    </div>
                                    <div class="raw">
                                        <label>@WBSSLStore.Resources.GeneralMessage.Message.Checkout_CCVCode_Caption:</label>
                                        <span id="tdcccvv"></span>
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                <h3>@WBSSLStore.Resources.GeneralMessage.Message.OrderSummary_Caption</h3>
                                <div class="odrtabelgrid confirmodrtbl">
                                    <div class="odrtblraw odrheadraw ">
                                        <p class="bigcol">Product Name</p>
                                        <p class="wd100">Servers</p>
                                        <p class="wd100">Year</p>
                                        <p class="wd100">Order Type</p>
                                        <p class="wd100 txtright">Price</p>
                                    </div>
                                    @foreach (WBSSLStore.Domain.ShoppingCartDetail s in lstShoppingCart)
                                    {

                                        <div class="odrtblraw">
                                            <p class="bigcol">
                                                <span class="tabshow">Product Name</span>@s.Product.ProductName
                                                @if (s.AdditionalDomains > 0)
                                                {
                                                    <br />
                                                    @(WBSSLStore.Resources.GeneralMessage.Message.AdditionalDomains_Caption + ":" + (s.AdditionalDomains > s.Product.SanMin ? (s.Product.SanMin + " Free + " + (s.AdditionalDomains - s.Product.SanMin) + " extra=" + s.AdditionalDomains) : (s.Product.SanMin + " Free")))
                                                    if (s.AdditionalDomains > s.Product.SanMin)
                                                    {
                                                        <strong>@(WBSSLStore.Resources.GeneralMessage.Message.Shoppingcart_SANPrice + " :" + s.ProductPricing.AdditionalSanPrice.ToString("C") + "/" + WBSSLStore.Resources.GeneralMessage.Message.Checkout_Domain_Caption)</strong>
                                                        <em>
                                                            <span class="pricetxt">@( string.Format("{0:C}", s.ProductPricing.AdditionalSanPrice * (s.AdditionalDomains - s.Product.SanMin)))</span>
                                                        </em>
                                                    }
                                                }

                                            </p>
                                            <p class="wd100">
                                                <span class="tabshow">@WBSSLStore.Resources.GeneralMessage.Message.No_Of_Server_Caption</span>@((!s.Product.isNoOfServerFree) ?  s.NumberOfServers.ToString() : "-")
                                            </p>
                                            
                                            <p class="wd100"><span class="tabshow">@WBSSLStore.Resources.GeneralMessage.Message.Year_Caption</span>@(s.ProductPricing.NumberOfMonths / 12)</p>
                                            <p class="wd100"><span class="tabshow">@WBSSLStore.Resources.GeneralMessage.Message.isNewOrder_Caption</span>@(s.isNewOrder ? "New" : "Renew")</p>
                                            <p class="wd100 txtright"><span class="tabshow">@WBSSLStore.Resources.GeneralMessage.Message.Price_Caption</span>@( string.Format("{0:C}", (((s.AdditionalDomains > 0 && s.AdditionalDomains > s.Product.SanMin) ? s.ProductPricing.AdditionalSanPrice * (s.AdditionalDomains - s.Product.SanMin) : 0) + (s.Product.isNoOfServerFree ? (s.ProductPricing.SalesPrice) : ((s.ProductPricing.SalesPrice * s.NumberOfServers)))) - (s.PromoDiscount > 0 && !string.IsNullOrEmpty(s.PromoCode) ? s.PromoDiscount : 0)))</p>
                                        </div>
                                    }

                                    <div class="odrtotal txtright">
                                        <strong>@WBSSLStore.Resources.GeneralMessage.Message.Total_Caption:</strong>
                                        @string.Format("{0:C}", Model.OrderAmount - Model.PromoDiscount)
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" name="button" id="button" value="Confirm" class="greenbtn" onclick="CheckValidation()">
                                        <span>@WBSSLStore.Resources.GeneralMessage.Message.Checkout_Confirm_btn</span>
                                    </button>
                                    <a id="btnback" style="margin-left: 0px; cursor: pointer; text-decoration: underline;">
                                        <span><strong>@WBSSLStore.Resources.GeneralMessage.Message.Checkout_Back_btn</strong></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="column3-3a">
                    <div class="checkoutbg box checkouts" id="tblShoppingCart">
                        <div id="rightpnl">
                            <div class="">
                                <h3>@WBSSLStore.Resources.GeneralMessage.Message.OrderSummary_Caption 
                                <span class="floatright"><a href="@Url.RouteUrl("shoppingcart_us")">Edit Cart</a></span>
                                </h3>
                                <div class="summaryorder">
                                    @foreach (WBSSLStore.Domain.ShoppingCartDetail s in lstShoppingCart)
                                    {
                                        <div class="orderlist" id="row-@s.ID">
                                            <p class="productdtl">
                                                @s.Product.ProductName <span>@(s.ProductPricing.NumberOfMonths / 12) @WBSSLStore.Resources.GeneralMessage.Message.Year_Caption @@ @(s.Product.isNoOfServerFree ? string.Format("{0:C}", s.ProductPricing.SalesPrice) : string.Format("{0:C}", (s.ProductPricing.SalesPrice * s.NumberOfServers)))</span>
                                                <strong>@WBSSLStore.Resources.GeneralMessage.Message.isNewOrder_Caption : @(s.isNewOrder ? "New" : "Renew")</strong>
                                                @if (!@s.Product.isNoOfServerFree)
                                                {
                                                    <em> @((@WBSSLStore.Resources.GeneralMessage.Message.No_Of_Server_Caption + ":" + s.NumberOfServers.ToString()))</em>
                                                }
                                                @if (s.AdditionalDomains > 0)
                                                {
                                                    @(WBSSLStore.Resources.GeneralMessage.Message.AdditionalDomains_Caption + ":" + (s.AdditionalDomains > s.Product.SanMin ? (s.Product.SanMin + " Free + " + (s.AdditionalDomains - s.Product.SanMin) + " extra=" + s.AdditionalDomains) : (s.Product.SanMin + " Free")))
                                                    if (s.AdditionalDomains > s.Product.SanMin)
                                                    {
                                                        <strong>@(WBSSLStore.Resources.GeneralMessage.Message.Shoppingcart_SANPrice + " :" + s.ProductPricing.AdditionalSanPrice.ToString("C") + "/" + WBSSLStore.Resources.GeneralMessage.Message.Checkout_Domain_Caption)</strong>
                                                        <em>
                                                            <span class="pricetxt">@( string.Format("{0:C}", s.ProductPricing.AdditionalSanPrice * (s.AdditionalDomains - s.Product.SanMin)))</span>
                                                        </em>
                                                    }
                                                }
                                            </p>
                                            <p class="productprice">@( string.Format("{0:C}", (((s.AdditionalDomains > 0 && s.AdditionalDomains > s.Product.SanMin) ? s.ProductPricing.AdditionalSanPrice * (s.AdditionalDomains - s.Product.SanMin) : 0) + (s.Product.isNoOfServerFree ? (s.ProductPricing.SalesPrice) : ((s.ProductPricing.SalesPrice * s.NumberOfServers)))) - (s.PromoDiscount > 0 && !string.IsNullOrEmpty(s.PromoCode) ? s.PromoDiscount : 0)))</p>
                                            <div class="clear"></div>
                                            @if (s.PromoDiscount > 0 && !string.IsNullOrEmpty(s.PromoCode))
                                            {
                                                <div class="prodiscount">
                                                    <p class="disctxts">@WBSSLStore.Resources.GeneralMessage.Message.Year_PromoDisc_Caption: @(s.ProductPricing.NumberOfMonths / 12)</p>
                                                    <p class="discprice"> -@string.Format("{0:C}", s.PromoDiscount) </p>
                                                    <div class="clear"></div>
                                                </div>
                                            }
                                        </div>
                                            iCount++;
                                    }
                                    @{
                                        iCount = 1;
                                    }
                                </div>
                                <div class="ordertotal">
                                    <p class="totaleft">@WBSSLStore.Resources.GeneralMessage.Message.Total_Caption:</p>
                                    <p class="totalright" id="cart-total">@string.Format("{0:C}", Model.OrderAmount - Model.PromoDiscount) </p>
                                    <div class="clear"></div>
                                </div>

                            </div>
                        </div>
                    </div>

                    @Html.Partial("_coRightpanel")
                </div>

            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
