@model WBSSLStore.Domain.PromoCode
@{
    ViewBag.Title = "Create";
    string CurrentLangCode = "";
    using (WBSSLStore.Web.Util.WBSiteSettings setting = new WBSSLStore.Web.Util.WBSiteSettings(WBSSLStore.Web.Helpers.Caching.SiteCacher.CurrentSite)) {

        CurrentLangCode = setting.CurrentCultureKey;
    }
}
@System.Web.Optimization.Scripts.Render("/bundales/wb/validationjs?v=" + ViewBag.version)
@System.Web.Optimization.Scripts.Render("/bundales/jquery-glob?v=" + ViewBag.version)


@System.Web.Optimization.Styles.Render("/bundales/jquery-ui-css?v=" + ViewBag.version)
@System.Web.Optimization.Scripts.Render("/bundales/jquery-ui?v=" + ViewBag.version)


@if (CurrentLangCode != "en") 
{
    @System.Web.Optimization.Scripts.Render("/bundales/jquery-glob-all?v=" + ViewBag.version)
    <script src="@Url.Content("~/content/Scripts/i18n/jquery.ui.datepicker-" + CurrentLangCode + ".js")" type="text/javascript"></script>
}
<script type="text/javascript">
    $.validator.methods.number = function (value, element) {
        return !isNaN($.parseFloat(value));
    }

    $(function () {
        $.preferCulture('@(CurrentLangCode)');
    });
</script>
<script type="text/javascript" language="javascript">
    $(function () {

        SetProductAndMonth($('#drpProduct').val());
        var dates = $("#StartDate, #EndDate").datepicker({
            changeMonth: true,
            numberOfMonths: 1,
            showOn: "both",
            buttonImage: "@WBSSLStore.Web.Util.WBSiteSettings.AdminImagePath/icon-date.gif",
            buttonImageOnly: true,
            onSelect: function (selectedDate) {
                var option = this.id == "StartDate" ? "minDate" : "maxDate",
					instance = $(this).data("datepicker"),
					date = $.datepicker.parseDate(
						instance.settings.dateFormat ||
						$.datepicker._defaults.dateFormat,
						selectedDate, instance.settings);
                dates.not(this).datepicker("option", option, date);
            }
        });
    });

    function SetProductAndMonth(drpVal) {
        var values = drpVal.toString().split('|');
        $('#ProductID').val(values[0]);
        $('#NoOfMonths').val(values[1]);
    }
</script>
@using (Html.BeginForm())
{
  
    
    <tr>
        <td align="left" valign="top">
            <table width="881" border="0" align="left" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="7" align="left" valign="top">
                        <img src="@WBSSLStore.Web.Util.WBSiteSettings.AdminImagePath/barleft.gif" alt="whitebrand" width="7" height="55">
                    </td>
                    <td width="866" align="left" valign="middle" class="hdbarbg">
                        <table width="840" border="0" align="center" cellpadding="1" cellspacing="1">
                            <tr>
                                <td width="407" align="left" valign="middle" class="head1">
                                    @*Generate Coupon Code*@ @WBSSLStore.Resources.GeneralMessage.Message.Promocode_Header
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="9" align="right" valign="top">
                        <img src="@WBSSLStore.Web.Util.WBSiteSettings.AdminImagePath/barright.gif" alt="whitebrand" width="9" height="55">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" class="contbg">
            <table width="870" border="0" align="center" cellpadding="0" cellspacing="7">
                <tr>
                    <td width="867" align="center" valign="top" class="bgclr">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="left" valign="top">
                                    <table width="820" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td height="25" align="left" valign="middle">
                                                @if (!string.IsNullOrEmpty(ViewBag.Message))
                                                { 
                                                    @Html.Raw(ViewBag.Message)
                                                }
                                                @Html.ValidationSummary(true)
                                                <p>
                                                    &nbsp;
                                                    @Html.HiddenFor(model => model.ID)
                                                    @Html.HiddenFor(model => model.AuditID)
                                                    @Html.HiddenFor(model => model.NoOfMonths)
                                                    @Html.HiddenFor(model => model.ProductID)
                                                    @Html.HiddenFor(model => model.SiteID)
                                                    @if (Model != null && Model.ID > 0)
                                                    {
                                                        @Html.HiddenFor(model => model.AuditDetails.ByUserID)
                                                        @Html.HiddenFor(model => model.AuditDetails.DateCreated)
                                                        @Html.HiddenFor(model => model.AuditDetails.ID)
                                                    }
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <table width="90%" border="0" align="center" cellpadding="1" cellspacing="2">
                                                    <tr>
                                                        <td width="31%" align="right" valign="middle" class="bold">
                                                            @Html.LabelFor(model => model.CampaignName): <span class="redfont">*</span>
                                                        </td>
                                                        <td width="69%" align="left" valign="middle">
                                                            <label>
                                                                @Html.TextBoxFor(model => model.CampaignName, new { @class = "inputbox" })
                                                                @Html.ValidationMessageFor(model => model.CampaignName)
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            @Html.LabelFor(model => model.Code):<span class="redfont"> *</span>
                                                        </td>
                                                        <td align="left" valign="middle">
                                                            <label>
                                                                @Html.TextBoxFor(model => model.Code, new { @class = "inputbox" })
                                                                @Html.ValidationMessageFor(model => model.Code)
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            @Html.LabelFor(model => model.StartDate): <span class="redfont">*</span>
                                                        </td>
                                                        <td align="left" valign="top">
                                                            <table width="71%" border="0" align="left" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td width="36%" align="left" valign="middle">
                                                                        @Html.EditorFor(model => model.StartDate, "shortdatetime")
                                                                        @Html.ValidationMessageFor(model => model.StartDate)
                                                                    </td>
                                                                    <td width="17%" align="left" valign="middle" class="bold">
                                                                        @Html.LabelFor(model => model.EndDate):
                                                                    </td>
                                                                    <td width="47%" align="left" valign="middle">
                                                                        @Html.EditorFor(model => model.EndDate, "shortdatetime")
                                                                        @Html.ValidationMessageFor(model => model.EndDate)
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            @Html.LabelFor(model => model.SmallDescription):
                                                        </td>
                                                        <td align="left" valign="top">
                                                            @Html.TextAreaFor(model => model.SmallDescription, new { @rows = "4", @cols = "25", @class = "inputbox" })
                                                            @Html.ValidationMessageFor(model => model.SmallDescription)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            @Html.LabelFor(model => model.MaxOrders): <span class="redfont">*</span>
                                                        </td>
                                                        <td align="left" valign="top">
                                                            @Html.TextBoxFor(model => model.MaxOrders, new { @class = "inputboxmini", @min = "0", Style = "text-align: right" })
                                                            @Html.ValidationMessageFor(model => model.MaxOrders)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            @Html.LabelFor(model => model.ProductID, "Product"): <span class="redfont">*</span>
                                                        </td>
                                                        <td align="left" valign="top">
                                                            @Html.DropDownList("drpProduct", ViewBag.ProductList as IEnumerable<SelectListItem>, "----" + @WBSSLStore.Resources.GeneralMessage.Message.Select_Product_Type_Caption + "----", new { @name = "drpProduct", @id = "drpProduct", @class = "listmenubig", @onchange = "SetProductAndMonth(this.value);" })
                                                            @Html.ValidationMessageFor(model => model.ProductID)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            @*Discount*@ @WBSSLStore.Resources.GeneralMessage.Message.Invoice_Discount_Caption:
                                                        </td>
                                                        <td align="left" valign="top">
                                                            <table width="71%" border="0" align="left" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td width="32%" align="left" valign="middle">
                                                                        @Html.TextBoxFor(model => model.Discount, new { @class = "inputboxmini", Style = "text-align: right" })
                                                                        @Html.ValidationMessageFor(model => model.Discount)
                                                                    </td>
                                                                    <td width="68%" align="left" valign="middle">
                                                                        @Html.DropDownListFor(model => model.DiscountModeID, Enum.GetValues(typeof(WBSSLStore.Domain.DiscountMode)).Cast<WBSSLStore.Domain.DiscountMode>().Select(x => new SelectListItem { Text = ((int)x == 0 ? WBSSLStore.Resources.GeneralMessage.Message.ddl_Flat : WBSSLStore.Resources.GeneralMessage.Message.ddl_Percentage), Value = ((int)x).ToString() }), new { @class = "listmenusmall", @min = "0" })
                                                                        @Html.ValidationMessageFor(model => model.DiscountModeID)
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            @*Apply to*@ @WBSSLStore.Resources.GeneralMessage.Message.Apply_to_Caption:
                                                        </td>
                                                        <td align="left" valign="top">
                                                            <table width="60%" border="0" cellspacing="1" cellpadding="1">
                                                                <tr>
                                                                    <td width="9%" align="left" valign="middle">
                                                                        <label>
                                                                            @Html.CheckBoxFor(model => model.isForReseller)
                                                                            @Html.ValidationMessageFor(model => model.isForReseller)
                                                                        </label>
                                                                    </td>
                                                                    <td width="25%" align="left" valign="middle">
                                                                        @*Reseller*@ @WBSSLStore.Resources.GeneralMessage.Message.Reseller_Caption
                                                                    </td>
                                                                    <td width="8%" align="left" valign="middle">
                                                                        @Html.CheckBoxFor(model => model.isForClient)
                                                                        @Html.ValidationMessageFor(model => model.isForClient)
                                                                    </td>
                                                                    <td width="58%" align="left" valign="middle">
                                                                        @*Clients*@ @WBSSLStore.Resources.GeneralMessage.Message.Clients_Caption
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="8" align="right" valign="middle" class="bold">
                                                        </td>
                                                        <td height="8" align="left" valign="top">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="middle" class="bold">
                                                            &nbsp;
                                                        </td>
                                                        <td align="left" valign="top">
                                                            <span class="bold">
                                                                <input name="button" type="submit" class="bluebtn" id="button" value="@WBSSLStore.Resources.GeneralMessage.Message.Submit_Btn" />
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="8" align="left" valign="top">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
}